footer
  p
    | This project is maintained by
    a(href='https://github.com/minodisk') minodisk
  p
    small
      | Hosted on GitHub Pages &mdash; Theme by
      a(href='https://github.com/orderedlist') orderedlist