header
  h1
    a(href='/gesso/') Gesso
  h2
    a(href='/gesso/docs/') #{title}
  p A JavaScript module wraps canvas API for browser.
  nav
    a(href='/gesso/guide/') Getting Started
    | |
    a(href='/gesso/docs/') API Documentation
    | |
    a(href='/gesso/demos/') Demos
  ul
    li
      a(href='https://github.com/minodisk/gesso/zipball/master')
        | Download
        strong ZIP File
    li
      a(href='https://github.com/minodisk/gesso/tarball/master')
        | Download
        strong TAR Ball
    li
      a(href='https://github.com/minodisk/gesso')
        | View On
        strong GitHub