pre {
  margin-bottom: 15px;
}

canvas {
  background : url('../../resources/check.png') repeat 0 0;
}

.matrix {
  position         : absolute;
  background-color : #ffffe1;
  border           : 1px solid #000000;
  padding          : 4px 6px;
  box-shadow       : 5px 5px 5px rgba(0, 0, 0, .5);
  white-space      : pre;
  font-size        : 12px;
  font-family      : 'Consolas', 'Inconsolate', 'Courier', monospace;
}
